* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99edff
}
.time-box {
height: 300px;
width: 500px;
margin-top: 120px;
border-radius: 10px;
background-color: #018fc975;
padding: 40px 20px;
position: relative;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.time-container {
    position: absolute;
    width: 620px;
    left: -40px;
    height: 200px;
    background-color: white;
    top: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h2 {
    color: white;
}
.name{
    color: white;
}
h1 {
    font-size: 60px;
    font-weight: 500;
}
p {
    color: rgba(0, 0, 0, .4);
}
.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.isto {
    padding-bottom: 30px;
}
.buttons-switch {
    position: absolute;
    top: 300px;
}
button{
    height: 40px;
    width: 60px;
    border-radius: 130px;
    margin: 0px 80px 0px 40px;
    background-color: #035eb7;
    color: white;
    border: none;
    outline: none;
}
.button-align {
 display: flex;
 justify-content: center;

}
/* @media (max-width:680px)  { */
    /* *{
        width: 100%;
    }
} */